// Colors Neutral

$bg-neutral-0: #FFFFFF;
$bg-neutral-50: #EAE9F0;
$bg-neutral-100: #D2CFE3;
$bg-neutral-200: #A19CC2;
$bg--neutral-300: #645A9C;
$bg-neutral-400: #433C6F;
$bg-neutral-500: #1F1B39;

// Color Primary
$bg-primary-50: #FFF6C8;
$bg-primary-100: #FFEF9B;
$bg-primary-200: #FFE86D;
$bg-primary-300: #FFE143;
$bg-primary-400: #FBD614;

// Succcss Color
$bg-success-50: #C5FFEF;
$bg-success-100: #95FFE2;
$bg-success-200: #61F8CF;
$bg-success-300:#38E9BA;
$bg-success-400:#1DD1A1;

// Danger Color
$bg-danger-50:#FFD2D2 ;
$bg-danger-100:#FFAEAE ;
$bg-danger-200:#FF8A8A ;
$bg-danger-300:#FF6B6B ;
$bg-danger-400:#FF3131 ;

